.match-card {
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e44ad, #97483f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e44ad, #b65247);
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .match-card h2 {
    font-size: 24px;
    height: 70px;
  }
  
  .match-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .bet-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0px;
  }
  
  .bet-toggle button {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bet-toggle button.active {
    background-color: #fff;
    color: #333;
  }
  
  #player-bet {
    margin-right: 10px;
  }
  
  #team-bet {
    margin-left: 10px;
  }
  
  #player-bet:hover, #team-bet:hover{
    background-color: #000;
    color: #fff;
  }