.team-card {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 320px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-width: 2px;
    font-family: var(--font-family);
    font-size: 24px;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: #AE67FA solid;
    color: #AE67FA;
    overflow: hidden;
}
.team-card:hover{
    background:#e1d1f2;
    color: black;
    font-weight:bold;
    border-color: black;
}

.team-card:hover h2{
    color: #fff;
    text-shadow: 2px 2px 0 #AE67FA, -2px -2px 0 #AE67FA, 2px -2px 0 #AE67FA, -2px 2px 0 #AE67FA;
}

  .team-card h2 {
    font-size: 24px;
    height: 70px;
  }
  
  .team-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .team-image{
    width: 270px;
    height: 250px;
  }

  .page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:64px;
    display: flex;
    justify-content: center;
    
    color: white;
    font-family: var(--font-family);
    padding-bottom: 50px;
  }
  .about_us_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  h2{
    color: black;
    font-size: 4rem;
    font-family: var(--font-family);
  }

  .rudy {
    object-fit: cover;
  }

  .shreya {
    object-fit: cover;
  }