.ongoing{
    height: 5vh;
    width: 100vw;
    color: white;
    font-family: var(--font-family);
    font-size:64px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
    
}

.createMatch{
    padding: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.list{
    height:fit-content;
}
.create-match {
    margin-left: 10px;
  }
  
.create-match:hover{
    background-color: #000;
    color: #fff;
  }
   button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  